<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">

    <div ngModelGroup="personalDetails" #personalDetails="ngModelGroup">
      <label for="fname">First Name</label>
      <input type="text" id="fname" placeholder="Your name.." name="firstname" [(ngModel)]="firstname" required #fname="ngModel"> 
      <p *ngIf="firstname">You entered:{{firstname}}</p>
      <!-- <div>
        <h5 *ngIf="fname.invalid && fname.touched">Please enter name</h5>
      </div> -->
      <label for="lname">Last Name</label>
      <input type="text" id="lname" placeholder="Your last name.." name="lastname" ngModel required #lname="ngModel">
      <!-- <div>
        <h5 *ngIf="lname.invalid && lname.touched">Please enter last name</h5>
      </div> -->
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your last email.." ngModel required email #email="ngModel">
      <!-- <div>
        <h5 *ngIf="email.invalid && email.touched">Please enter a valid email</h5>
      </div> -->
      <div>
        <h5 *ngIf="personalDetails.invalid && personalDetails.touched">Some fields you entered are invalid</h5>
      </div>
    </div>
        
        <label for="country">Country</label>
        <select id="country" name="country" [ngModel]= "defaultCountry">
          <option value="kenya">Kenya</option>
          <option value="uganda">Uganda</option>
          <option value="rwanda">Rwanda</option>
          <option value="burundi">Burundi</option>
          <option value="tanzania">Tanzania</option>
        </select>

      <label for="gender">Gender:</label>
      <span *ngFor="let gen of gender">
        <input type="radio" id="{{gen.id}}" value="{{gen.value}}" name="gender" [ngModel]="defaultGender">
        <label for="male">{{gen.value}}</label>
      </span>
        <!-- <input type="radio" id="female" value="female" name="gender" ngModel>
        <label for="female">Female</label> -->
      <br><br>
      <label>Hobbies <i>(Optional)</i></label>
      <div class="form-inline">
          <label><input type="checkbox" value="sports" name="hobbies" ngModel> Sports</label>
          <label><input type="checkbox" value="movies" name="hobbies" ngModel> Movies</label>
          <label><input type="checkbox" value="music" name="hobbies" ngModel> Music</label>
      </div>

      <input type="submit" value="Submit" id="btn" [disabled]="!myForm.valid">
      
    </form>
</div>
